{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/aboutme.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
           Hi! I’m someone who enjoys discovering new things, sharing experiences, and putting thoughts into words. I created this blog as a little space where I can write about the things that interest me, the lessons I learn, and the experiences that shape my everyday life.
        </p>
        <p>
            I believe that even ordinary moments can have an interesting story behind them. Through this blog, I want to share my thoughts, ideas, experiences, and sometimes just things I find interesting or worth talking about. Whether it’s something I’ve recently learned, a personal experience, or a topic I simply enjoy exploring, this is a place where I can share it in my own way.


        </p>
        <p>
          Thanks for stopping by and taking the time to visit my little corner of the internet. I hope you find something here that makes you think, teaches you something new, or simply gives you a reason to stay for a while. Happy reading!

        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
